<main>
  <div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
      <div class="card card-user px-3">
        <div class="card-header">
          <h5 class="card-title">Bejelentkezés</h5>
        </div>
        <div class="card-body">
          <form #login="ngForm" (ngSubmit)="onLogin()">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                name="email"
                [(ngModel)]="loginData.email"
                (focus)="onFocus()"
                required
                >
            </div>
            <div class="form-group">
              <label for="password">Jelszó</label>
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Jelszó"
                [(ngModel)]="loginData.password"
                (focus)="onFocus()"
                required>
            </div>
            <button type="submit" class="btn btn-primary btn-round text-center" [disabled]="login.invalid">
              Bejelentkezés
            </button>
          </form>
        </div>
      </div>
      <div *ngIf="(loginError$ | async)" class="alert alert-danger alert-dismissible fade show">
        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
          <i class="nc-icon nc-simple-remove"></i>
        </button>
        <span>
          <b> HIBA - </b> Hibás email vagy jelszó'"</span>
      </div>
    </div>
  </div>
</main>
