<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header row mx-2">
        <h4 class="card-title"> {{ tableTitle }}</h4>
        <div class="ml-auto">
            <button  (click)="onCreate()" class="btn btn-primary btn-round">Új elem hozzáadása</button>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div class="row my-2">
            <span class="col-6 col-md-2 py-2 mx-1">Keresési kategória</span>
            <select class="form-control border col-6 col-md-2" [(ngModel)]="filterKey">
              <option *ngFor="let key of tableColumn" [value]="[key.key]">{{key.title}}</option>
            </select>
            <input [(ngModel)]="phrase" class="filter-search border rounded col-5 mx-1" type="text" placeholder="Search...">
          </div>
          <table class="table">
            <thead class="text-primary">
              <th> # </th>
              <th *ngFor="let column of tableColumn">
                {{ column.title }}
              </th>
              <th></th>
            <tbody>
              <tr *ngFor="let item of list | filter: phrase : filterKey | paginator: pageIndex : pageSize; let i = index" >
                <td>{{ i + (pageIndex*pageSize) + 1 }}</td>
                <td *ngFor="let column of tableColumn">
                  {{ item[column.key] | xpipe:column.pipes:column.pipeArgs }}
                </td>
                <td>
                  <div class="btn-group">
                    <button (click)="onSelect(item)" class="btn btn-primary">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button (click)="onDelete(item)" class="btn btn-danger">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <mat-paginator #paginator
      showFirstLastButtons
      (page)="onChangePage($event)"
      [length]= list.length
      [pageSize]="10"
      aria-label="Select page">
    </mat-paginator>
  </div>
</div>

