<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> {{ tableTitle }}</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th *ngFor="let column of tableColumn">
                {{ column.title }}
              </th>
              <th></th>
            <tbody>
              <tr *ngFor="let item of list | paginator: pageIndex : pageSize; let i = index" >
                <td>{{ i + (pageIndex*pageSize) + 1 }}</td>
                <td *ngFor="let column of tableColumn">
                  {{ item[column.key] | textSlicer:100 }}
                </td>
                <td>
                  <div class="btn-group">
                    <button (click)="onSelect(item)" class="btn btn-primary">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button (click)="onDelete(item)" class="btn btn-danger">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

            <mat-paginator #paginator
                  showFirstLastButtons
                  (page)="onChangePage($event)"
                  [length]= list.length
                  [pageSize]="10"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  aria-label="Select page">
            </mat-paginator>
  </div>
</div>

